*{
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 18px;
    background-color: greenyellow;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.game-moves{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}
#player-output, #computer-output, .score, .winner{
    display: flex;
    align-items: center;
    gap: 20px;
    border-style: solid;
    padding: 20px 50px;
   border-radius: 0.3rem;
    
}
#current-round{
    border-style: solid;
    padding: 20px 50px;
   border-radius: 0.3rem; 
}
h1{
    font-size: 24px;
    border-style: solid;
    border-color: red;
    border-radius: 0.3rem;
    padding: 10px 50px;
    font-weight: bold;
}


